<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook"/>

    <springProperty name="endpoint" source="aliyun.sls.endpoint"/>
    <springProperty name="accessKeyId" source="aliyun.accessKey.id"/>
    <springProperty name="accessKeySecret" source="aliyun.accessKey.secret"/>
    <springProperty name="project" source="aliyun.sls.project"/>
    <springProperty name="logStore" source="aliyun.sls.logStore"/>
    <springProperty name="topic" source="aliyun.sls.topic"/>

    <appender name="LOGHUB" class="com.aliyun.openservices.log.logback.LoghubAppender">
        <endpoint>${endpoint}</endpoint>
        <accessKeyId>${accessKeyId}</accessKeyId>
        <accessKeySecret>${accessKeySecret}</accessKeySecret>

        <project>${project}</project>
        <logStore>${logStore}</logStore>

        <topic>${topic}</topic>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>

        <mdcFields>THREAD_ID,MDC_KEY</mdcFields>
    </appender>

    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>

    <logger name="org.apache.http.impl.conn.Wire" level="WARN" />

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGHUB"/>
    </root>

</configuration>