<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.alipay.dao.mapper.AlipayFundAuthNotifyMapper">

	<insert id="insert" parameterType="alipayFundAuthNotifyDO">
	<![CDATA[
		INSERT
		INTO `tb_alipay_fund_auth_notify`
		  (
			`notify_id`,
			`notify_time`,
			`auth_no`,
			`notify_type`,
			`out_order_no`,
			`operation_id`,
			`out_request_no`,
			`operation_type`,
			`amount`,
			`status`,
			`gmt_create`,
			`gmt_trans`,
			`payer_logon_id`,
			`payer_user_id`,
			`payee_logon_id`,
			`payee_user_id`,
			`total_freeze_amount`,
			`total_unfreeze_amount`,
			`total_pay_amount`,
			`rest_amount`,
			`credit_amount`,
			`fund_amount`,
			`total_freeze_credit_amount`,
			`total_freeze_fund_amount`,
			`total_unfreeze_credit_amount`,
			`total_unfreeze_fund_amount`,
			`total_pay_credit_amount`,
			`total_pay_fund_amount`,
			`rest_credit_amount`,
			`rest_fund_amount`,
			`pre_auth_type`,
			`credit_merchant_ext`,
			`charset`,
			`sign`,
			`sign_type`,
			`version`
		  )
		  VALUES
		  (
			#{notifyId},
			#{notifyTime},
			#{authNo},
			#{notifyType},
			#{outOrderNo},
			#{operationId},
			#{outRequestNo},
			#{operationType},
			#{amount},
			#{status},
			#{gmtCreate},
			#{gmtTrans},
			#{payerLogonId},
			#{payerUserId},
			#{payeeLogonId},
			#{payeeUserId},
			#{totalFreezeAmount},
			#{totalUnfreezeAmount},
			#{totalPayAmount},
			#{restAmount},
			#{creditAmount},
			#{fundAmount},
			#{totalFreezeCreditAmount},
			#{totalFreezeFundAmount},
			#{totalUnfreezeCreditAmount},
			#{totalUnfreezeFundAmount},
			#{totalPayCreditAmount},
			#{totalPayFundAmount},
			#{restCreditAmount},
			#{restFundAmount},
			#{preAuthType},
			#{creditMerchantExt},
			#{charset},
			#{sign},
			#{signType},
			#{version}
		  )
	]]>
	</insert>

</mapper>