<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.alipay.dao.mapper.AlipayFundTransOrderMapper">

	<insert id="insert" parameterType="alipayFundTransOrderDO" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT
		INTO `tb_alipay_fund_trans_order`
		  (
			`out_biz_no`,
			`product_code`,
			`biz_scene`,
			`origin_interface`,
			`pay_fund_order_id`,
			`order_id`,
			`status`,
			`action_type`,
			`trans_amount`,
			`pay_date`,
			`refund_date`,
			`entrust_order_id`,
			`sub_order_status`,
			`sub_order_error_code`,
			`sub_order_fail_reason`
		  )
		  VALUES
		  (
			#{outBizNo},
			#{productCode},
			#{bizScene},
			#{originInterface},
			#{payFundOrderId},
			#{orderId},
			#{status},
			#{actionType},
			#{transAmount},
			#{payDate},
			#{refundDate},
			#{entrustOrderId},
			#{subOrderStatus},
			#{subOrderErrorCode},
			#{subOrderFailReason}
		  )
	]]>
	</insert>

</mapper>