<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.chat.dao.mapper.ChatMapper">

	<select id="count" parameterType="chatDO" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(*)
		  FROM `tb_chat` t
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		   AND t.`unread` > 0
	]]>
	</select>

	<select id="list" parameterType="chatDO" resultType="chatDO">
	<![CDATA[
		SELECT t.`id`,
			   t.`user_id` AS userId,
			   t.`friend_id` AS friendId,
			   t.`chat_time` AS chatTime,
			   t.`chat_detail_id` AS chatDetailId,
			   t.`unread`
		  FROM `tb_chat` t
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		 ORDER BY t.`chat_time` DESC, t.`id` DESC
		LIMIT #{offset}, #{pageSize}
	]]>
	</select>

	<select id="get" parameterType="chatDO" resultType="chatDO">
	<![CDATA[
		SELECT t.`id`,
			   t.`user_id` AS userId,
			   t.`friend_id` AS friendId,
			   t.`chat_time` AS chatTime,
			   t.`chat_detail_id` AS chatDetailId,
			   t.`unread`
		  FROM `tb_chat` t
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		   AND t.`friend_id` = #{friendId}
	]]>
	</select>

	<insert id="insert" parameterType="chatDO" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT
		INTO `tb_chat`
		  (
			`user_id`,
			`friend_id`,
			`chat_time`,
			`chat_detail_id`,
			`unread`,
			`is_deleted`,
			`creator`,
			`create_time`
		  )
		  VALUES
		  (
			#{userId},
			#{friendId},
			#{chatTime},
			#{chatDetailId},
			#{unread},
			0,
			#{creator},
			NOW()
		  )
	]]>
	</insert>

	<update id="updateChat" parameterType="chatDO">
	<![CDATA[
		UPDATE `tb_chat` t
		   SET t.`update_time` = NOW(),
			   t.`modifier` = #{modifier},
			   t.`chat_time` = #{chatTime},
			   t.`chat_detail_id` = #{chatDetailId},
			   t.`unread` = t.`unread` + #{unread}
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		   AND t.`friend_id` = #{friendId}
	]]>
	</update>

	<update id="updateUnread" parameterType="chatDO">
	<![CDATA[
		UPDATE `tb_chat` t
		   SET t.`update_time` = NOW(),
			   t.`modifier` = #{modifier},
			   t.`unread` = #{unread}
		 WHERE t.`is_deleted` = 0
		   AND t.`id` = #{id}
		   AND t.`user_id` = #{userId}
	]]>
	</update>

</mapper>