<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.chat.dao.mapper.ChatMapper">

	<select id="countChat" parameterType="chatDO" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(*)
		  FROM `tb_chat` t
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		   AND t.`unread` > 0
	]]>
	</select>

	<select id="listChats" parameterType="chatDO" resultType="chatDO">
	<![CDATA[
		SELECT t.`id`,
			   t.`user_id` AS userId,
			   t.`friend_id` AS friendId,
			   t.`chat_time` AS chatTime,
			   t.`chat_detail_id` AS chatDetailId,
			   t.`unread`
		  FROM `tb_chat` t
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		 ORDER BY t.`chat_time` DESC, t.`id` DESC
		LIMIT #{offset}, #{pageSize}
	]]>
	</select>

	<select id="getChat" parameterType="chatDO" resultType="chatDO">
	<![CDATA[
		SELECT t.`id`,
			   t.`user_id` AS userId,
			   t.`friend_id` AS friendId,
			   t.`chat_time` AS chatTime,
			   t.`chat_detail_id` AS chatDetailId,
			   t.`unread`
		  FROM `tb_chat` t
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		   AND t.`friend_id` = #{friendId}
	]]>
	</select>


	<update id="updateChat" parameterType="chatDO">
	<![CDATA[
		UPDATE `tb_chat` t
		   SET t.`update_time` = NOW(),
			   t.`modifier` = #{modifier},
			   t.`chat_time` = #{chatTime},
			   t.`chat_detail_id` = #{chatDetailId},
			   t.`unread` = t.`unread` + #{unread}
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		   AND t.`friend_id` = #{friendId}
	]]>
	</update>

	<update id="updateUnread" parameterType="chatDO">
	<![CDATA[
		UPDATE `tb_chat` t
		   SET t.`update_time` = NOW(),
			   t.`modifier` = #{modifier},
			   t.`unread` = #{unread}
		 WHERE t.`is_deleted` = 0
		   AND t.`id` = #{id}
		   AND t.`user_id` = #{userId}
	]]>
	</update>

</mapper>
