<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.config.dao.mapper.ConfigMapper">

	<sql id="queryCondition">
		<if test="name != null and name != ''">
			AND t.`name` LIKE #{name,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
		<if test="key != null and key != ''">
			AND t.`key` LIKE #{key,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
		<if test="system != null">
			AND t.`is_system` = #{system}
		</if>
		<if test="start != null and start != ''">
			AND t.`create_time` >= DATE_FORMAT(#{start},'%Y-%m-%d')
		</if>
		<if test="end != null and end != ''">
		<![CDATA[ AND t.`create_time` < DATE_ADD(DATE_FORMAT(#{end},'%Y-%m-%d'),interval 1 DAY) ]]>
		</if>
	</sql>

	<select id="countConfig" parameterType="configDO" resultType="java.lang.Long">
		SELECT COUNT(*)
		  FROM `tb_config` t
		 WHERE t.`is_deleted` = 0
		<include refid="queryCondition"/>
	</select>

	<select id="listConfigs" parameterType="configDO" resultType="configDO">
		SELECT t.`id`,
			   t.`name`,
			   t.`key`,
			   t.`value`,
			   t.`remark`,
			   t.`is_system` AS `system`,
			   t.`create_time` AS createTime
		  FROM `tb_config` t
		 WHERE t.`is_deleted` = 0
		<include refid="queryCondition"/>
		 ORDER BY t.`id` DESC
		 LIMIT #{offset}, #{pageSize}
	</select>

	<select id="getConfig" parameterType="configDO" resultType="configDO">
		SELECT t.`id`,
			   t.`name`,
			   t.`key`,
			   t.`value`,
			   t.`remark`,
			   t.`is_system` AS `system`
		  FROM `tb_config` t
		 WHERE t.`is_deleted` = 0
		<if test="id != null">
			AND t.`id` = #{id}
		</if>
		<if test="key != null and key != ''">
			AND t.`key` = #{key}
		</if>
	</select>

</mapper>
