<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dict.dao.mapper.DictTypeMapper">

	<select id="count" parameterType="dictTypeDO" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(*)
		  FROM `tb_dict_type` t
		 WHERE t.`is_deleted` = 0
	]]>
		<if test="name != null and name != ''">
		<![CDATA[ AND t.`name` LIKE #{name,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHanlderCallback} ]]>
		</if>
		<if test="value != null and value != ''">
		<![CDATA[ AND t.`value` LIKE #{value,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHanlderCallback} ]]>
		</if>
		<if test="status != null and status != ''">
		<![CDATA[ AND t.`status` = #{status} ]]>
		</if>
		<if test="start != null and start != ''">
		<![CDATA[ AND t.`create_time` >= DATE_FORMAT(#{start},'%Y-%m-%d') ]]>
		</if>
		<if test="end != null and end != ''">
		<![CDATA[ AND t.`create_time` < DATE_ADD(DATE_FORMAT(#{end},'%Y-%m-%d'),interval 1 DAY) ]]>
		</if>
	</select>

	<select id="list" parameterType="dictTypeDO" resultType="dictTypeDO">
	<![CDATA[
		SELECT t.`id`,
			   t.`name`,
			   t.`value`,
			   t.`remark`,
			   t.`status`,
			   t.`create_time` AS createTime
		  FROM `tb_dict_type` t
		 WHERE t.`is_deleted` = 0
	]]>
		<if test="name != null and name != ''">
		<![CDATA[ AND t.`name` LIKE #{name,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHanlderCallback} ]]>
		</if>
		<if test="value != null and value != ''">
		<![CDATA[ AND t.`value` LIKE #{value,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHanlderCallback} ]]>
		</if>
		<if test="status != null and status != ''">
		<![CDATA[ AND t.`status` = #{status} ]]>
		</if>
		<if test="start != null and start != ''">
		<![CDATA[ AND t.`create_time` >= DATE_FORMAT(#{start},'%Y-%m-%d') ]]>
		</if>
		<if test="end != null and end != ''">
		<![CDATA[ AND t.`create_time` < DATE_ADD(DATE_FORMAT(#{end},'%Y-%m-%d'),interval 1 DAY) ]]>
		</if>
	<![CDATA[
		 ORDER BY t.`id` DESC
		 LIMIT #{offset}, #{pageSize}
	]]>
	</select>

	<select id="get" parameterType="dictTypeDO" resultType="dictTypeDO">
	<![CDATA[
		SELECT t.`id`,
			   t.`name`,
			   t.`value`,
			   t.`remark`,
			   t.`status`
		  FROM `tb_dict_type` t
		 WHERE t.`is_deleted` = 0
  	]]>
		<if test="id != null">
		<![CDATA[ AND t.`id` = #{id} ]]>
		</if>
		<if test="value != null and value != ''">
		<![CDATA[ AND t.`value` = #{value} ]]>
		</if>
	</select>

	<insert id="insert" parameterType="dictTypeDO" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT
		INTO `tb_dict_type`
		  (
			`name`,
			`value`,
			`remark`,
			`status`,
			`is_deleted`,
			`creator`,
			`create_time`
		  )
		  VALUES
		  (
			#{name},
			#{value},
			#{remark},
			#{status},
			0,
			#{creator},
			NOW()
		  )
	]]>
	</insert>

	<update id="update" parameterType="dictTypeDO">
	<![CDATA[
		UPDATE `tb_dict_type` t
		   SET t.`update_time` = NOW(),
			   t.`modifier` = #{modifier},
			   t.`name` = #{name},
			   t.`value` = #{value},
			   t.`remark` = #{remark},
			   t.`status` = #{status}
		 WHERE t.`is_deleted` = 0
		   AND t.`id` = #{id}
	]]>
	</update>

	<update id="delete" parameterType="dictTypeDO">
	<![CDATA[
		UPDATE `tb_dict_type` t
		   SET t.`update_time` = NOW(),
			   t.`modifier` = #{modifier},
			   t.`is_deleted` = 1
		 WHERE t.`is_deleted` = 0
		   AND t.`id` = #{id}
	]]>
	</update>

</mapper>