<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dict.dao.mapper.DictTypeMapper">

	<sql id="queryCondition">
		<if test="name != null and name != ''">
			AND t.`name` LIKE #{name,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
		<if test="value != null and value != ''">
			AND t.`value` LIKE #{value,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
		<if test="status != null and status != ''">
			AND t.`status` = #{status}
		</if>
		<if test="start != null and start != ''">
			AND t.`create_time` >= DATE_FORMAT(#{start},'%Y-%m-%d')
		</if>
		<if test="end != null and end != ''">
		<![CDATA[ AND t.`create_time` < DATE_ADD(DATE_FORMAT(#{end},'%Y-%m-%d'),interval 1 DAY) ]]>
		</if>
	</sql>

	<select id="countType" parameterType="dictTypeDO" resultType="java.lang.Long">
		SELECT COUNT(*)
		  FROM `tb_dict_type` t
		 WHERE t.`is_deleted` = 0
		<include refid="queryCondition"/>
	</select>

	<select id="listTypes" parameterType="dictTypeDO" resultType="dictTypeDO">
		SELECT t.`id`,
			   t.`name`,
			   t.`value`,
			   t.`remark`,
			   t.`status`,
			   t.`create_time` AS createTime
		  FROM `tb_dict_type` t
		 WHERE t.`is_deleted` = 0
		<include refid="queryCondition"/>
		 ORDER BY t.`id` DESC
		 LIMIT #{offset}, #{pageSize}
	</select>

</mapper>
