<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.login.dao.mapper.LoginLogMapper">

	<sql id="queryCondition">
		<if test="username != null and username != ''">
		<![CDATA[ AND t.`username` LIKE #{username,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler} ]]>
		</if>
		<if test="ip != null and ip != ''">
		<![CDATA[ AND t.`ip` = #{ip} ]]>
		</if>
		<if test="status != null and status != ''">
		<![CDATA[ AND t.`status` = #{status} ]]>
		</if>
		<if test="start != null and start != ''">
		<![CDATA[ AND t.`login_time` >= DATE_FORMAT(#{start},'%Y-%m-%d') ]]>
		</if>
		<if test="end != null and end != ''">
		<![CDATA[ AND t.`login_time` < DATE_ADD(DATE_FORMAT(#{end},'%Y-%m-%d'),interval 1 DAY) ]]>
		</if>
	</sql>

	<select id="countLog" parameterType="loginLogDO" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(*)
		  FROM `tb_login_log` t
		 WHERE t.`is_deleted` = 0
	]]>
		<include refid="queryCondition"/>
	</select>

	<select id="listLogs" parameterType="loginLogDO" resultType="loginLogDO">
	<![CDATA[
		SELECT t.`id`,
			   t.`username`,
			   t.`ip`,
			   t.`ip_addr` AS ipAddr,
			   t.`login_time` AS loginTime,
			   t.`status`,
			   t.`err_msg` AS errMsg
		  FROM `tb_login_log` t
		 WHERE t.`is_deleted` = 0
	]]>
		<include refid="queryCondition"/>
	<![CDATA[
		 ORDER BY ${sort} ${dir}, t.`id` DESC
		 LIMIT #{offset}, #{pageSize}
	]]>
	</select>

</mapper>
