<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.menu.dao.mapper.MenuMapper">

	<select id="countMenu" parameterType="menuDO" resultType="java.lang.Long">
		SELECT COUNT(*)
		  FROM `tb_menu` t
		 WHERE t.`is_deleted` = 0
		   AND t.`pid` = #{pid}
	</select>

	<select id="listMenus" parameterType="menuDO" resultType="menuDO">
		SELECT t.`id`,
			   t.`pid`,
			   t.`type`,
			   t.`icon`,
			   t.`name`,
			   t.`path`,
			   t.`component`,
			   t.`query`,
			   t.`code`,
			   t.`order`,
			   t.`is_external` AS external,
			   t.`is_cached` AS cached,
			   t.`is_hidden` AS hidden,
			   t.`status`,
			   t.`create_time` AS createTime
		  FROM `tb_menu` t
		 WHERE t.`is_deleted` = 0
		<if test="ids != null and ids.size > 0">
			AND t.`id` IN
			<foreach collection="ids" item="id" open="(" close=")" separator=",">#{id}</foreach>
		</if>
		<if test="pid != null">
			AND t.`pid` = #{pid}
		</if>
		<if test="type != null and type != ''">
			AND t.`type` = #{type}
		</if>
		<if test="types != null and types.length > 0">
			AND t.`type` IN
			<foreach collection="types" item="type" open="(" close=")" separator=",">#{type}</foreach>
		</if>
		<if test="name != null and name != ''">
			AND t.`name` LIKE #{name,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
		<if test="status != null and status != ''">
			AND t.`status` = #{status}
		</if>
		<if test="userId != null">
			   AND EXISTS(
			SELECT 1
			  FROM `tb_role_menu` p, `tb_user_role` q, `tb_role` k
			 WHERE t.`id` = p.`menu_id`
			   AND p.`role_id` = q.`role_id`
			   AND q.`role_id` = k.`id`
			   AND p.`is_deleted` = 0
			   AND q.`is_deleted` = 0
			   AND k.`is_deleted` = 0
			   AND k.`status` = 'E'
			   AND q.`user_id` = #{userId})
		</if>
		 ORDER BY t.`pid`, t.`order`, t.`id` DESC
	</select>

</mapper>
