<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.operate.dao.mapper.OperateLogMapper">

	<sql id="queryCondition">
		<if test="clazz != null and clazz != ''">
		<![CDATA[ AND t.`clazz` LIKE #{clazz,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler} ]]>
		</if>
		<if test="operator != null and operator != ''">
		<![CDATA[ AND t.`operator` LIKE #{operator,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler} ]]>
		</if>
		<if test="status != null and status != ''">
		<![CDATA[ AND t.`status` = #{status} ]]>
		</if>
		<if test="start != null and start != ''">
		<![CDATA[ AND t.`operate_time` >= DATE_FORMAT(#{start},'%Y-%m-%d') ]]>
		</if>
		<if test="end != null and end != ''">
		<![CDATA[ AND t.`operate_time` < DATE_ADD(DATE_FORMAT(#{end},'%Y-%m-%d'),interval 1 DAY) ]]>
		</if>
	</sql>

	<select id="countLog" parameterType="operateLogDO" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(*)
		  FROM `tb_operate_log` t
		 WHERE t.`is_deleted` = 0
	]]>
		<include refid="queryCondition"/>
	</select>

	<select id="listLogs" parameterType="operateLogDO" resultType="operateLogDO">
	<![CDATA[
		SELECT t.`id`,
			   t.`clazz`,
			   t.`request_uri` AS requestUri,
			   t.`request_method` AS requestMethod,
			   t.`request_params` AS requestParams,
			   t.`operator`,
			   t.`ip`,
			   t.`ip_addr` AS ipAddr,
			   t.`operate_time` AS operateTime,
			   t.`module`,
			   t.`operate_type` AS operateType,
			   t.`content`,
			   t.`status`,
			   t.`err_msg` AS errMsg
		  FROM `tb_operate_log` t
		 WHERE t.`is_deleted` = 0
	]]>
		<include refid="queryCondition"/>
	<![CDATA[
		 ORDER BY ${sort} ${dir}, t.`id` DESC
		 LIMIT #{offset}, #{pageSize}
	]]>
	</select>

</mapper>
