<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.qrtz.dao.mapper.JobDetailMapper">

	<select id="count" parameterType="jobDetailDO" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(*)
		  FROM `qrtz_job_details` t
	]]>
	</select>

	<select id="list" parameterType="jobDetailDO" resultType="jobDetailDO">
	<![CDATA[
		SELECT t.`SCHED_NAME` AS schedName,
			   t.`JOB_NAME` AS jobName,
			   t.`JOB_GROUP` AS jobGroup,
			   t.`DESCRIPTION` AS description,
			   t.`JOB_CLASS_NAME` AS jobClassName,
			   t.`IS_DURABLE` AS isDurable,
			   t.`IS_NONCONCURRENT` AS isNonconcurrent,
			   t.`IS_UPDATE_DATA` AS isUpdateData,
			   t.`REQUESTS_RECOVERY` AS requestsRecovery,
			   t.`JOB_DATA` AS jobData
		  FROM `qrtz_job_details` t
		 ORDER BY t.`JOB_NAME`
	]]>
	</select>

	<select id="get" parameterType="jobDetailDO" resultType="jobDetailDO">
	<![CDATA[
		SELECT t.`SCHED_NAME` AS schedName,
			   t.`JOB_NAME` AS jobName,
			   t.`JOB_GROUP` AS jobGroup,
			   t.`DESCRIPTION` AS description,
			   t.`JOB_CLASS_NAME` AS jobClassName,
			   t.`IS_DURABLE` AS isDurable,
			   t.`IS_NONCONCURRENT` AS isNonconcurrent,
			   t.`IS_UPDATE_DATA` AS isUpdateData,
			   t.`REQUESTS_RECOVERY` AS requestsRecovery,
			   t.`JOB_DATA` AS jobData
		  FROM `qrtz_job_details` t
		 WHERE t.`SCHED_NAME` = #{schedName}
		   AND t.`JOB_NAME` = #{jobName}
		   AND t.`JOB_GROUP` = #{jobGroup}
		 LIMIT 1
	]]>
	</select>

</mapper>