<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.qrtz.dao.mapper.CronTriggerMapper">

	<select id="get" parameterType="cronTriggerDO" resultType="cronTriggerDO">
	<![CDATA[
		SELECT t.`SCHED_NAME` AS schedName,
			   t.`TRIGGER_NAME` AS triggerName,
			   t.`TRIGGER_GROUP` AS triggerGroup,
			   t.`CRON_EXPRESSION` AS cronExpression,
			   t.`TIME_ZONE_ID` AS timeZoneId
		  FROM `qrtz_cron_triggers` t
		 WHERE t.`SCHED_NAME` = #{schedName}
		   AND t.`TRIGGER_NAME` = #{triggerName}
		   AND t.`TRIGGER_GROUP` = #{triggerGroup}
		 LIMIT 1
	]]>
	</select>

</mapper>