<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.role.dao.mapper.RoleMapper">

	<sql id="queryCondition">
		<if test="code != null and code != ''">
			AND t.`code` LIKE #{code,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
		<if test="name != null and name != ''">
			AND t.`name` LIKE #{name,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
		<if test="status != null and status != ''">
			AND t.`status` = #{status}
		</if>
		<if test="start != null and start != ''">
			AND t.`create_time` >= DATE_FORMAT(#{start},'%Y-%m-%d')
		</if>
		<if test="end != null and end != ''">
		<![CDATA[ AND t.`create_time` < DATE_ADD(DATE_FORMAT(#{end},'%Y-%m-%d'),interval 1 DAY) ]]>
		</if>
	</sql>

	<select id="countRole" parameterType="roleDO" resultType="java.lang.Long">
		SELECT COUNT(*)
		  FROM `tb_role` t
		 WHERE t.`is_deleted` = 0
		<if test="id != null">
			AND t.`id` = #{id}
		</if>
		<include refid="queryCondition"/>
	</select>

	<select id="listRoles" parameterType="roleDO" resultType="roleDO">
		SELECT t.`id`,
			   t.`code`,
			   t.`name`,
			   t.`remark`,
			   t.`order`,
			   t.`status`,
			   t.`create_time` AS createTime
		  FROM `tb_role` t
		 WHERE t.`is_deleted` = 0
		<include refid="queryCondition"/>
		 ORDER BY t.`order`, t.`id` DESC
		<if test="pageNo != null and pageNo > 0 and pageSize != null and pageSize > 0">
			LIMIT #{offset}, #{pageSize}
		</if>
	</select>

</mapper>
