<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.role.dao.mapper.RoleMenuMapper">

	<select id="count" parameterType="roleMenuDO" resultType="java.lang.Integer">
	<![CDATA[
		SELECT COUNT(*)
		  FROM `tb_role_menu` t
		 WHERE t.`is_deleted` = 0
		   AND t.`menu_id` = #{menuId}
	]]>
	</select>

	<select id="list" parameterType="roleMenuDO" resultType="roleMenuDO">
	<![CDATA[
		SELECT t.`id`,
			   t.`role_id` AS roleId,
			   t.`menu_id` AS menuId
		  FROM `tb_role_menu` t
		 WHERE t.`is_deleted` = 0
		   AND t.`role_id` = #{roleId}
	]]>
	</select>

	<insert id="insert" parameterType="roleMenuDO" useGeneratedKeys="true" keyProperty="id">
	<![CDATA[
		INSERT
		INTO `tb_role_menu`
		  (
			`role_id`,
			`menu_id`,
			`is_deleted`,
			`creator`,
			`create_time`
		  )
		  VALUES
		  (
			#{roleId},
			#{menuId},
			0,
			#{creator},
			NOW()
		  )
	]]>
	</insert>

	<update id="delete" parameterType="roleMenuDO">
	<![CDATA[
		UPDATE `tb_role_menu` t
		   SET t.`update_time` = NOW(),
			   t.`modifier` = #{modifier},
			   t.`is_deleted` = 1
		 WHERE t.`is_deleted` = 0
	]]>
		<if test="id != null">
		<![CDATA[ AND t.`id` = #{id} ]]>
		</if>
		<if test="id == null">
			<if test="roleId != null">
			<![CDATA[ AND t.`role_id` = #{roleId} ]]>
			</if>
			<if test="roleId == null">
			<![CDATA[ AND t.`menu_id` = #{menuId} ]]>
			</if>
		</if>
	</update>

</mapper>