<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.subscribe.dao.mapper.SubscribeMapper">

	<select id="countSubscribe0" parameterType="subscribeDO" resultType="java.lang.Long">
		SELECT COUNT(*)
		  FROM `tb_subscribe` t
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		   AND t.`app_id` = #{appId}
		   AND t.`scene` = #{scene}
		   AND t.`scene_id` = #{sceneId}
	</select>

	<select id="countSubscribe1" parameterType="subscribeDO" resultType="java.lang.Long">
		SELECT COUNT(*)
		  FROM `tb_subscribe` t,
			   `tb_tunnel` p
		 WHERE t.`user_id` = p.`user_id`
		   AND t.`is_deleted` = 0
		   AND p.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		   AND t.`scene` = #{scene}
		   AND t.`scene_id` = #{sceneId}
	</select>

	<select id="listSubscribes" parameterType="subscribeDO" resultType="tunnelDO">
		SELECT p.`id`,
			   p.`tunnel_id` AS tunnelId,
			   p.`host`
		  FROM `tb_subscribe` t,
			   `tb_tunnel` p
		 WHERE t.`user_id` = p.`user_id`
		   AND t.`is_deleted` = 0
		   AND p.`is_deleted` = 0
		   AND t.`scene` = #{scene}
		   AND t.`scene_id` = #{sceneId}
		 ORDER BY p.`id`
		LIMIT #{offset}, #{pageSize}
	</select>

	<select id="getSubscribe" parameterType="subscribeDO" resultType="subscribeDO">
		SELECT t.`id`,
			   t.`user_id` AS userId,
			   t.`app_id` AS appId,
			   t.`scene` AS scene,
			   t.`scene_id` AS sceneId
		  FROM `tb_subscribe` t
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		   AND t.`app_id` = #{appId}
		   AND t.`scene` = #{scene}
		   AND t.`scene_id` = #{sceneId}
		LIMIT 1
	</select>

</mapper>
