<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.user.dao.mapper.UserRoleMapper">

	<select id="countUserRole" parameterType="userRoleDO" resultType="java.lang.Long">
		SELECT COUNT(*)
		  FROM `tb_user_role` t
		 WHERE t.`is_deleted` = 0
		<if test="userId != null">
			AND t.`user_id` = #{userId}
		</if>
		<if test="roleId != null">
			AND t.`role_id` = #{roleId}
		</if>
		<if test="code != null and code != ''">
			   AND EXISTS(
			SELECT 1
			  FROM `tb_role` p
			 WHERE t.`role_id` = p.`id`
			   AND p.`is_deleted` = 0
			   AND p.`status` = 'E'
			   AND p.`code` = #{code})
		</if>
		<if test="codes != null and codes.length > 0">
			   AND EXISTS(
			SELECT 1
			  FROM `tb_role` p
			 WHERE t.`role_id` = p.`id`
			   AND p.`is_deleted` = 0
			   AND p.`status` = 'E'
			   AND p.`code` IN
			<foreach collection="codes" item="code" open="(" close=")" separator=",">#{code}</foreach>
			)
		</if>
	</select>

	<select id="listUserRoles" parameterType="userRoleDO" resultType="userRoleDO">
		SELECT t.`id`,
			   t.`user_id` AS userId,
			   t.`role_id` AS roleId
		  FROM `tb_user_role` t
		 WHERE t.`is_deleted` = 0
		   AND t.`user_id` = #{userId}
		<if test="status != null and status != ''">
			   AND EXISTS(
			SELECT 1
			  FROM `tb_role` p
			 WHERE t.`role_id` = p.`id`
			   AND p.`is_deleted` = 0
			   AND p.`status` = #{status})
		</if>
	</select>

	<select id="countUser" parameterType="userDO" resultType="java.lang.Long">
		SELECT COUNT(*)
		  FROM `tb_user` t
		 WHERE t.`is_deleted` = 0
		   AND t.`corp_id` = #{corpId}
		<if test="enabled != null">
			AND t.`is_enabled` = #{enabled}
		</if>
		<if test="exists == true">
			   AND EXISTS(
		</if>
		<if test="exists == false">
			   AND NOT EXISTS(
		</if>
			SELECT 1
			  FROM `tb_user_role` p, `tb_role` q
			 WHERE t.`id` = p.`user_id`
			   AND q.`id` = p.`role_id`
			   AND p.`is_deleted` = 0
			   AND q.`is_deleted` = 0
		<if test="roleId != null">
			AND p.`role_id` = #{roleId}
		</if>
		<if test="codes != null and codes.length > 0">
			AND q.`code` IN
			<foreach collection="codes" item="code" open="(" close=")" separator=",">#{code}</foreach>
		</if>
		)
		<if test="name != null and name != ''">
			AND t.`name` LIKE #{name,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
		<if test="mobile != null and mobile != ''">
			AND t.`mobile` LIKE #{mobile,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
	</select>

	<select id="listUsers" parameterType="userDO" resultType="userDO">
		SELECT t.`id`,
			   t.`name`,
			   t.`nickname`,
			   t.`mobile`,
			   t.`email`,
			   t.`status`,
			   t.`create_time` AS createTime
		  FROM `tb_user` t
		 WHERE t.`is_deleted` = 0
		   AND t.`corp_id` = #{corpId}
		<if test="enabled != null">
			AND t.`is_enabled` = #{enabled}
		</if>
		<if test="exists == true">
			   AND EXISTS(
		</if>
		<if test="exists == false">
			   AND NOT EXISTS(
		</if>
			SELECT 1
			  FROM `tb_user_role` p, `tb_role` q
			 WHERE t.`id` = p.`user_id`
			   AND q.`id` = p.`role_id`
			   AND p.`is_deleted` = 0
			   AND q.`is_deleted` = 0
		<if test="roleId != null">
			AND p.`role_id` = #{roleId}
		</if>
		<if test="codes != null and codes.length > 0">
			AND q.`code` IN
			<foreach collection="codes" item="code" open="(" close=")" separator=",">#{code}</foreach>
		</if>
		)
		<if test="name != null and name != ''">
			AND t.`name` LIKE #{name,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
		<if test="mobile != null and mobile != ''">
			AND t.`mobile` LIKE #{mobile,typeHandler=com.example.demo.framework.mybatis.type.WildcardTypeHandler}
		</if>
		 ORDER BY t.`id` DESC
		 LIMIT #{offset}, #{pageSize}
	</select>

</mapper>
