<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.weixin.dao.mapper.WeixinNotifyMapper">

	<insert id="insert" parameterType="weixinNotifyDO">
	<![CDATA[
		INSERT
		INTO `tb_weixin_notify`
		  (
			`signature`,
			`timestamp`,
			`nonce`,
			`data`,
			`message`,
			`is_deleted`,
			`creator`,
			`create_time`
		  )
		  VALUES
		  (
			#{signature},
			#{timestamp},
			#{nonce},
			#{data},
			#{message},
			0,
			#{creator},
			NOW()
		  )
	]]>
	</insert>

</mapper>