<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.wxpay.dao.mapper.WxpayNotifyMapper">

	<insert id="insert" parameterType="wxpayNotifyDO">
	<![CDATA[
		INSERT
		INTO `tb_wxpay_notify`
		  (
			`id`,
			`create_time`,
			`event_type`,
			`resource_type`,
			`summary`,
			`sp_appid`,
			`sp_mchid`,
			`sub_appid`,
			`sub_mchid`,
			`out_trade_no`,
			`transaction_id`,
			`trade_type`,
			`trade_state`,
			`trade_state_desc`,
			`bank_type`,
			`attach`,
			`success_time`,
			`payer`,
			`amount`,
			`scene_info`,
			`promotion_detail`
		  )
		  VALUES
		  (
			#{id},
			#{createTime},
			#{eventType},
			#{resourceType},
			#{summary},
			#{spAppid},
			#{spMchid},
			#{subAppid},
			#{subMchid},
			#{outTradeNo},
			#{transactionId},
			#{tradeType},
			#{tradeState},
			#{tradeStateDesc},
			#{bankType},
			#{attach},
			#{successTime},
			#{payer},
			#{amount},
			#{sceneInfo},
			#{promotionDetail}
		  )
	]]>
	</insert>

</mapper>