<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.wxpay.dao.mapper.WxpayRefundMapper">

	<insert id="insert" parameterType="wxpayRefundDO">
	<![CDATA[
		INSERT
		INTO `tb_wxpay_refund`
		  (
			`refund_id`,
			`out_refund_no`,
			`transaction_id`,
			`out_trade_no`,
			`channel`,
			`user_received_account`,
			`success_time`,
			`create_time`,
			`status`,
			`funds_account`,
			`amount`,
			`promotion_detail`
		  )
		  VALUES
		  (
			#{refundId},
			#{outRefundNo},
			#{transactionId},
			#{outTradeNo},
			#{channel},
			#{userReceivedAccount},
			#{successTime},
			#{createTime},
			#{status},
			#{fundsAccount},
			#{amount},
			#{promotionDetail}
		  )
	]]>
	</insert>

	<update id="update" parameterType="wxpayRefundDO">
	<![CDATA[
		UPDATE `tb_wxpay_refund` t
		   SET t.`refund_id` = #{refundId}
	]]>
		<if test="outRefundNo != null and outRefundNo != ''">
		<![CDATA[ , t.`out_refund_no` = #{outRefundNo} ]]>
		</if>
		<if test="transactionId != null and transactionId != ''">
		<![CDATA[ , t.`transaction_id` = #{transactionId} ]]>
		</if>
		<if test="outTradeNo != null and outTradeNo != ''">
		<![CDATA[ , t.`out_trade_no` = #{outTradeNo} ]]>
		</if>
		<if test="channel != null and channel != ''">
		<![CDATA[ , t.`channel` = #{channel} ]]>
		</if>
		<if test="userReceivedAccount != null and userReceivedAccount != ''">
		<![CDATA[ , t.`user_received_account` = #{userReceivedAccount} ]]>
		</if>
		<if test="successTime != null and successTime != ''">
		<![CDATA[ , t.`success_time` = #{successTime} ]]>
		</if>
		<if test="createTime != null and createTime != ''">
		<![CDATA[ , t.`create_time` = #{createTime} ]]>
		</if>
		<if test="status != null and status != ''">
		<![CDATA[ , t.`status` = #{status} ]]>
		</if>
		<if test="fundsAccount != null and fundsAccount != ''">
		<![CDATA[ , t.`funds_account` = #{fundsAccount} ]]>
		</if>
		<if test="amount != null and amount != ''">
		<![CDATA[ , t.`amount` = #{amount} ]]>
		</if>
		<if test="promotionDetail != null and promotionDetail != ''">
		<![CDATA[ , t.`promotion_detail` = #{promotionDetail} ]]>
		</if>
	<![CDATA[
		 WHERE t.`refund_id` = #{refundId}
	]]>
	</update>

</mapper>