<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.wxpay.dao.mapper.WxpayProfitSharingMapper">

	<insert id="insert" parameterType="wxpayProfitSharingDO">
	<![CDATA[
		INSERT
		INTO `tb_wxpay_profit_sharing`
		  (
			`order_id`,
			`mchid`,
			`sp_mchid`,
			`sub_mchid`,
			`transaction_id`,
			`out_order_no`,
			`state`,
			`receivers`,
			`success_time`
		  )
		  VALUES
		  (
			#{orderId},
			#{mchid},
			#{spMchid},
			#{subMchid},
			#{transactionId},
			#{outOrderNo},
			#{state},
			#{receivers},
			#{successTime}
		  )
	]]>
	</insert>


</mapper>
